/* body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

*{
    box-sizing: border-box;
} */
.cc-form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2pc #ddd;
    margin: 80px 100px;
    max-width: 600px;
    max-height: 450px;
    padding: 20px 100px;

    align-items: center;
    justify-content: center;


}

form input, textarea{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

form span{
    color: #903F11;
}

form button{
    height: 40px;
    width: 70px;
    align-items: center;
    border: none;
    background-color: #7C5C50;
    color: #fff;

}

.text{
    /* background-image: url(bgg.jpg);   */
    
  background: #F6EEE2;
    background-size: cover; 
     filter:  grayscale(20%);

     padding-bottom: 180px;
    /* display: flex;                                                                                                                                                                                                */
} 


.text p{
    /* align-items: center;
    justify-content: center;
    justify-self: center;
    padding-left: 300px;
    padding-top: 50px; */
}

.contact-container {
    /* padding-top: 20px; */
    /* display: flex; */
    /* justify-content: cover; */
    /* align-items: center; */
    /* max-width: 100lvh;  */
    /* margin: 50px auto  */
 
}

 .imagee-container  {
    /* justify-content: space-between;
    align-items: vertical;

    mix-blend-mode: multiply;
    background-size: cover; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
/* 
    background-image: url(bgg.jpg); 
    background-size: cover; 
    filter:  grayscale(20%);  */
}

.c-image {
    max-width: 600px; 
    max-height: 700px; 
    background-image: none;

}

.c-image2 {
    width: 200px;
    height: 200px;

    margin-left: 100px; 
    display: flex;
   
    background-image: none;
    mix-blend-mode: multiply;
}




.con-container {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    /* flex-wrap:wrap; */
    align-items: center; 
    /* background-color: rgb(255, 255, 255); */
    height: 600px;

    
    flex-direction: row;
    /* justify-self: center; */
    justify-content: center;

/*     
    background-image: url(bgg.jpg); 
    background-size: cover; 
    filter:  grayscale(20%);  */
  }
  
  .con-intro {
    /* margin-right: 50px ; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;

  }

  .con-image {
    margin-left:0px; 
    display: flex;
    /* flex-wrap: wrap; */
    width: 500px;
    height: 600px;
    align-self: right;
    mix-blend-mode: multiply;

    /* background-image: url('original_image.jpg');  */
    background-size: cover; /* Or any other appropriate size */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background: none;

    
  box-shadow: 0 20px 50px #903F11;
  border: round solid rgb(148, 104, 37);
  }

.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 40px;

  h1 {
    padding-left: 8em;
    font-size: 1.6vw;
    color: black;
    /* text-transform: uppercase; */
    width: 100%;
    text-align: center;
    /* Adjust text shadow */
    text-shadow: -0.5px -0.5px 0 #903F11, 0.5px -0.5px 0 #903F11, -0.5px 0.5px 0 #903F11, 0.5px 0.5px 0 #903F11;

    &:after {
      content: attr(data-heading);
      left: 0;
      top: 0;
      overflow: hidden;
      color: rgb(0, 0, 0);
      transform: translate(0.4vw, 0.3vh);
      mix-blend-mode: darken;
      width: 100%;
      /* Adjust text shadow */
      text-shadow: 0.5px 0px 0px #903F11, 0px 0.5px 0px rgb(0, 0, 0), 1px 0.5px 0px #903F11, 0.5px 1px 0px rgb(0, 0, 0), 1.5px 1px 0px #903F11, 1px 1.5px 0px rgb(0, 0, 0), 2px 1.5px 0px #903F11, 1.5px 2px 0px rgb(0, 0, 0), 2.5px 2px 0px #903F11, 2px 2.5px 0px rgb(0, 0, 0), 3px 2.5px 0px #903F11, 2.5px 3px 0px rgb(0, 0, 0), 4px 3px 0px #903F11;
    }
  }
}

  .boxx {
    /* transform: rotate(-45deg); */
    overflow: hidden;
    background: linear-gradient(to right, #fff 20%, #fff 40%, #903F11 50%, #8a4821 55%, #fff 70%, #fff 100%);
    background-size: 200% auto;
    margin-right: 120px;
    animation: shine 10s linear infinite;
  }
    
  @keyframes shine {
      to {
        background-position: 200% center;
      }
    }