<<<<<<< HEAD
.password-form-container {
  max-width: 400px;
  margin: 50px auto;
=======
.forget{

  background-color: #7C5C50;
  width:100%;
  height:100vh;

  
  padding-top: 4em;
  padding-left: 5em;
}
.password-form-container {
  max-width: 400px;
  /* margin: 50px auto; */
>>>>>>> 80a5a3c09d80bc0234d29c2a9d0b432756e6a3d6
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
  align-self: center;
  justify-content: center;

  background-color: white;

  
>>>>>>> 80a5a3c09d80bc0234d29c2a9d0b432756e6a3d6
}

.password-form-heading {
  margin-bottom: 20px;
}

<<<<<<< HEAD
.form-group {
  margin-bottom: 20px;
}

.form-label {
=======
.forget-form-group {
  margin-bottom: 20px;
}

.forget-form-label {
>>>>>>> 80a5a3c09d80bc0234d29c2a9d0b432756e6a3d6
  display: block;
  margin-bottom: 5px;
}

<<<<<<< HEAD
.form-input {
=======
.forget-form-input {
>>>>>>> 80a5a3c09d80bc0234d29c2a9d0b432756e6a3d6
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

<<<<<<< HEAD
.form-button {
=======
.forget-form-button {
>>>>>>> 80a5a3c09d80bc0234d29c2a9d0b432756e6a3d6
  background-color: #7C5C50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
