
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Change flex direction to row to align items horizontally */
  /* background: #f5f5f5 url('src/pages/navbar/login/bgg.jpg') no-repeat;  */
  /* background-size: 100% 100%;  */
  /* background-position: left;  */
background-color: #F6EEE2;
}


.login-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); /* White background for the input container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  height: 50vh;
  width: 70vh;
  justify-items: center;
  justify-content:space-evenly;
}

input {
  padding: 15px;
  width: 100%;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out; /* Smooth transition for the border color */
}

input:focus {
  border-color: #7C5C50; /* Change border color on focus */
}

small {
  color: red;
  margin-top: 5px; /* Add a small margin for better spacing */
}

button {
  padding: 15px;
  width: 100%;
  border: none;
  margin: 10px 0;
  background-color: #7C5C50;
  color: #903F11;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for the background color */

  /* Hover effect */
  &:hover {
      background-color: #7c5c50;
  }
}

.login-btn {
  color: white;
}

.reset {
  width: 200px;
}

.email {
  width: 350px;
}