.container.mt-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20em;
background-color: #F6EEE2;
}

.container.mt-4 h1 {
  padding-left: 8em;
  font-size: 1.6vw;
  overflow: hidden;
  color: rgb(0, 0, 0);
  transform: translate(0.4vw, 0.3vh);
  width: 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.basic-form{
  background-color: white;
  display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2pc #7C5C50;
    margin: 40px 300px;
    margin-bottom: 15rem;
    max-width: 500em;
    width: 60em;
    max-height: 100%;
    padding: 20px 100px;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 5rem; */
}

.btn.btn-primary.mt-4 {
  display: block;
  width: 30%; /* Adjusted width to 100% */
  margin-top: 18px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  height: fit-content;
  width: fit-content;
  align-items: center;
  border: none;
  background-color: #7C5C50;
  color: #fff;
}

.btn.btn-primary.mt-4:hover {
  background-color: #7C5C50;
}