.bas_list {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-formm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust margin top */
}

.searchbar-formm input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

.book-listt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px; /* Adjust margin top */
}

.bookk {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.bookk h4 {
  margin: 0;
}

.list_imgg {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.SEARCH {
  margin-top: 10px;
  background-color: #7C5C50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SEARCH:hover {
  background-color: #0056b3;
}

.error-message {
  color: black;
  margin-top: 10px;
}

/* Add CSS for no results message */
.no-results {
  color: #333;
  font-size: 18px;
  margin-top: 20px; /* Adjust margin top */
}
